nav {
    text-align: left;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #d1a3ff; /* Warna ungu */
    font-weight: bold;
    margin-right: 5px; /* Sesuaikan jarak antar teks */
    font-size: 16px; /* Sesuaikan ukuran font */
}

nav a:hover {
    text-decoration: underline;
}
