nav {
    text-align: left;
    padding-bottom: 5px; /* Biar ada sedikit ruang sebelum garis */
    border-bottom: 2px solid #d1a3ff; /* Garis bawah menyambung */
    display: inline-block; /* Biar lebarnya hanya sesuai teks */
}

nav a {
    text-decoration: none;
    color: #d1a3ff;
    font-weight: bold;
    margin-right: 10px;
}

nav a:last-child {
    margin-right: 0; /* Hapus margin kanan untuk link terakhir */
}
