body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

nav a {
    color: #c2a2df;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #c2a2df;
}
